[submodule "kernel-hook"]
	path = kernel-hook
	url = https://github.com/User10987654321/kernel-hook.git
[submodule "kallsyms-mod"]
	path = kallsyms-mod
	url = https://github.com/h33p/kallsyms-mod.git
